<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Temperatur - FCK AfD URL Shortener</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="robots" content="nofollow">
        <link rel="stylesheet" href="main.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <main>
            <img src="fck-afd.jpg" alt="FCK-AfD" width="200" height="200">
            <h1>Die aktuelle Temperatur beträgt <%=temp%> °C</h1>
        </main>
        <script src="main.js"></script>
    </body>
</html>